{% load static from staticfiles %}

{% block head_css %}
  <link href="{% static 'noosfero/css/bootstrap-colab-style.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="{% static 'noosfero/css/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
{% endblock %}

<div id="noosfero-content">
</div>

{% block head_js%}
    <script type="text/javascript">
      $('#noosfero-content form').prepend($("input[name='csrfmiddlewaretoken']").clone())
    </script>
{% endblock  %}
