{% load i18n tz highlight upstream date_format %}

<div class="row">
  <div class="col-md-2">
    {% get_image_link_url result.thumb_url as image_link %}
    <img src={{ image_link }}>
  </div>

  <div class="col-md-10">
    <h4>{{ result.title }}</h4>

    {% if result.description %}
      <p>{{ result.description|truncatewords:"85" }}</p>
    {% endif %}

    <strong>{% trans "Since" %}: {% date_format result.created_at %}</strong>
    <br>
    {% trans "Registred in" %}: <strong>{% trans "Community" %}</strong>
  </div>
</div>
<div class="row">
  <hr>
</div>
